<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% unless current_user.eql?(@user) %>
  <div id="follow_form">
    <% if current_user.follows?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>

<div id='timeline'>
  <% @user.tweets.each_with_index do |tweet, i| %>
    <%= render 'tweets/tweet', :i => i, :tweet => tweet %>
  <% end %>
</div>

<%= link_to('Edit', edit_user_path(@user)) if current_user && current_user.eql?(@user)%>

